<form id = "create_post" action=<%=" /post/#{@post.id}/edit" %> method="post">

	<h3>Name of post:</h3>
  	<input type="text" name="title">



	<h3>Enter your post:</h3>
  	<textarea name = "body" rows="10" cols="60">

	</textarea>

  	<input type="submit" value="Submit" >
</form>

<form id = "delete_post" action=<%=" /post/#{@post.id}/delete" %> method="post">
  	<input type="submit" value="Submit" >
</form>